<div class="admin-panel-container">
    <div class="row">
        <div class="col">
            <h1>ADMIN CONTROL PANEL</h1>
        </div>
        <div class="col" style='text-align: right;'>
            <h3>
                <%= link_to "Sign Out", destroy_admin_session_path(current_admin), :method => :delete, class: 'btn btn-outline-light' %>
            </h3>
        </div>
    </div>

    <hr>

    <h3>About Me</h3>
    <div class="admin-about-me">
        <%= form_with(url: "#{root_url}update/about_me", method: 'post') do |f| %>
            <%= f.hidden_field :_method, value: 'put' %>

            <%= f.text_area :about_me, value: @about_me, class: 'form-control' %>
            <br>
            <%= f.submit 'Save', class: 'btn btn-outline-light' %>
        <% end %>
    </div>

    <hr>

    <h3>Skills</h3>
    <div class="admin-skills">
        <%= form_with(url: "#{root_url}add/skills_languages", method: 'post') do |f| %>
            <%= f.text_field :skill, class: 'form-control' %>
            <br>
            <%= f.submit 'Add', class: 'btn btn-outline-light' %>
        <% end %>
        <br>
        <ul>
            <% @skills.each do |skill| %>
                <li>
                    <span>
                        <%= skill %>
                        <a href='/delete/skills/<%= skill %>' data-method='delete'>✕</a>
                    </span>
                </li>
            <% end %>
        </ul>
    </div>

    <hr>
    
    <h3>Languages</h3>
    <div class="admin-languages">
        <%= form_with(url: "#{root_url}add/skills_languages", method: 'post') do |f| %>
            <%= f.text_field :language, class: 'form-control' %>
            <br>
            <%= f.submit 'Add', class: 'btn btn-outline-light' %>
        <% end %>
        <br>
        <ul>
            <% @languages.each do |language| %>
                <li>
                    <span>
                        <%= language %>
                        <a href='/delete/languages/<%= language %>' data-method='delete'>✕</a>
                    </span>
                </li>
            <% end %>
        </ul>
    </div>

    <hr>

    <h3>Projects</h3>
    <div class="admin-projects">
        <a href="/add/project" class="btn btn-outline-light">Add Project</a>
        <br>
        <br>
        <ul>
            <% @projects.each do |project| %>
                <li>
                    <a href=""> <%= project %> </a>
                </li>
            <% end %>
        </ul>
    </div>

    <hr>

    <h3>Contact Details</h3>
    <div class="admin-contact-details">
        <%= form_with(url: "#{root_url}update/contact_details", method: 'post') do |f| %>
            <%= f.hidden_field :_method, value: 'put' %>
            
            <%= f.label :display_email, "Email Address" %>
            <%= f.text_field :display_email, value: @email, class: 'form-control' %>
            <br>
            <%= f.label :mobile_number, "Phone Number" %>
            <%= f.text_field :mobile_number, value: @mobile_number, class: 'form-control' %>
            <br>
            <%= f.label :address, "Address" %>
            <%= f.text_field :address, value: @address, class: 'form-control' %>
            <br>
            <%= f.submit 'Save', class: 'btn btn-outline-light' %>
        <% end %>
    </div>
</div>