<div class="container" style='padding: 20px;'>
    <h3>
        <%= link_to "Sign Out", destroy_admin_session_path(current_admin), :method => :delete %>
    </h3>
    <h1>About Me</h1>
    <div class="admin-about-me">
        <%= form_with(url: "#{root_url}update/about_me", method: 'post') do |f| %>
            <%= f.hidden_field :_method, value: 'put' %>

            <%= f.text_area :about_me, value: @about_me, class: 'form-control' %>
            <br>
            <%= f.submit 'Save' %>
        <% end %>
    </div>

    <hr>

    <h1>Skills and Languages</h1>
    <h3>Skills</h3>
    <%= form_with(url: "#{root_url}add/skills_languages", method: 'post') do |f| %>
        <%= f.text_field :skill, class: 'form-control' %>
        <br>
        <%= f.submit 'Add' %>
    <% end %>
    <ul>
        <% @skills.each do |skill| %>
            <li>
                <%= skill %>
            </li>
        <% end %>
    </ul>
    <h3>Languages</h3>
    <%= form_with(url: "#{root_url}add/skills_languages", method: 'post') do |f| %>
        <%= f.text_field :language, class: 'form-control' %>
        <br>
        <%= f.submit 'Add' %>
    <% end %>
    <ul>
        <% @languages.each do |language| %>
            <li>
                <%= language %>
            </li>
        <% end %>
    </ul>

    <hr>

    <h1>Projects</h1>
    <a href="/add/project" class="add-button">Add Project</a>
    <ul>
        <% @projects.each do |project| %>
            <li>
                <a href=""> <%= project %> </a>
            </li>
        <% end %>
    </ul>

    <hr>

    <h1>Contact Details</h1>
    <a href="/add/contact" class="add-button">Add Contact Details</a>
    <div class="admin-contact-details">
        <div class="row">
            <div class="col">
                Email Address <br>
                Phone Number <br>
                Address <br>
            </div>

            <div class="col">
                <%= @email %> <br>
                <%= @mobile_number %> <br>
                <%= @address %>
            </div>
        </div>
    </div>
</div>